@model Scaffolding.Models.Customer

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h3>@ViewBag.Message</h3>
    <h4>Customer</h4>
    <hr />
    <table>
        <tr>
            <td><div style="border-bottom:1px solid black; min-width: 50px !important; text-align:left;">Code</div></td>
            <td style="padding-left:10px"><div style="border-bottom:1px solid black; min-width: 100px !important; text-align:left;">Name</div></td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.CustomerCode).ToString().Trim()</td>
            <td style="padding-left:10px">@Html.DisplayFor(model => model.CustomerName).ToString().Trim()</td>
        </tr>
    </table>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
        <br />
        @Html.ActionLink("Back to List", "Index")
    }
</div>
