@model IEnumerable<Scaffolding.Models.Customer>

@{
    ViewBag.Title = "";
}

<p>
    <span style="display:inline-block; font-style:italic; font-size:8px">
        GitHub Location:<a href="https://github.com/kipj1/Scaffolding/tree/master/Scaffolding">https://github.com/kipj1/Scaffolding/tree/master/Scaffolding</a>
    </span>
    <br />
    @Html.ActionLink("Create Customer", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerCode }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerCode }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerCode })
            </td>
        </tr>
    }

</table>
